<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "sms/css/bootstrap.min.css" %}">
    
    <title>Student Registration</title>
</head>
<body>
    <div class="container">
        
        {% block content %}
        
        {% endblock content %}

    </div>

    <script src="{% static "sms/js/popper.js" %}"></script>
    <script src="{% static "sms/js/jquery.js" %}"></script>
    <script src="{% static "sms/js/bootstrap.min.js" %}"></script>
</body>
</html>